<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Jamaker</title>
<script src="lib/jquery-3.2.1.min.js?250307"></script>
<script src="lib/SubtitleObject.js?250307"></script>
<script src="lib/Combine.js?250307"></script>
<script src="lib/webview.js?250307"></script>
<script src="lib/setting.js?250307"></script>
<script src="lib/AutoCompleteTextarea.js?250307"></script>
<script src="lib/History.js?250307"></script>
<script src="lib/SmiEditor.js?250307"></script>
<script src="lib/editor.js?250307"></script>
<link rel="stylesheet" type="text/css" href="lib/AutoCompleteTextarea.css?250307" />
<link rel="stylesheet" type="text/css" href="lib/SmiEditor.css?250307" />
<!-- <link rel="stylesheet" type="text/css" href="lib/SmiEditor.size.css?250307" /> -->
</head>
<body id="body">
	<div><!--
	--><button type="button" id="btnAddHold">홀드 추가</button><!--
	--><label>가중치<input type="text" id="inputWeight" value="0" /></label><!--
	--><label title="선택영역 혹은 전체 싱크를 조절합니다.">싱크 조절<input type="text" id="inputUnit" value="0" /></label><!--
	--><button type="button" id="btnMoveToBack"  title="싱크 당기기(Ctrl+Shift+↓)">－</button><!--
	--><button type="button" id="btnMoveToForward" title="싱크 밀기(Ctrl+Shift+↑)">＋</button><!--
	--><label title="현재 재생 위치로 커서가 자동으로 이동합니다."><input type="checkbox" id="checkAutoFindSync" />검수모드</label><!--
	--><label id="forFrameSync" class="for-frame-sync disabled" title="화면 싱크를 가급적 키프레임에 맞춰줍니다.\nOTT 영상에선 맞지 않는 경우가 많습니다."
		><input type="checkbox" id="checkTrustKeyframe" disabled /><span>키프레임 신뢰</span></label><!--
	 -><span class="for-frame-sync" id="showFps"></span><!--
--></div>
	<div id="tabSelector"><div class="th" id="btnNewTab">＋</div></div>
	<div id="editor"></div>
</body>
</html>