<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Jamaker</title>
<script src="lib/jquery-3.2.1.min.js"></script>
<script src="lib/SubtitleObject.js"></script>
<script src="lib/webview.js"></script>
<script src="lib/setting.js"></script>
<script src="lib/AutoCompleteTextarea.js"></script>
<script src="lib/History.js"></script>
<script src="lib/Combine.js"></script>
<script src="lib/SmiEditor.js"></script>
<script src="lib/editor.js"></script>
<link rel="stylesheet" type="text/css" href="lib/AutoCompleteTextarea.css" />
<link rel="stylesheet" type="text/css" href="lib/SmiEditor.css" />
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
html, body {
	width: 100%;
	height: 100%;
	background: #f0f0f0;
}
label, #showFps {
	margin-left: 6px;
}
button {
	line-height: 13px;
	border: 1px solid #888;
	padding: 1px;
}
body:not(.drag-file) #cover {
	display: none;
}
#btnAddHold { padding: 1px 4px; }
#inputWeight { width: 50px; }
#inputUnit { width: 50px; }
#btnMoveToBack,
#btnMoveToForward {
	border-left: 0;
}
</style>
</head>
<body id="body">
	<div style="padding: 3px; height: 24px;"><!--
	--><button type="button" id="btnAddHold">홀드 추가</button><!--
	--><label>가중치<input type="text" id="inputWeight" value="0" /></label><!--
	--><label>싱크 조절<input type="text" id="inputUnit" value="0" /></label><!--
	--><button type="button" id="btnMoveToBack"  title="싱크 당기기(Ctrl+Shift+↓)">－</button><!--
	--><button type="button" id="btnMoveToForward" title="싱크 밀기(Ctrl+Shift+↑)">＋</button><!--
	--><label><input type="checkbox" id="checkAutoFindSync" />검수모드</label><!--
	--><span id="showFps"></span><!--
--></div>
	<div id="tabSelector"><div class="th" id="btnNewTab">＋</div></div>
	<div id="editor"></div>
</body>
</html>