<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>설정</title>
<script src="lib/jquery-3.2.1.min.js?241205.2"></script>
<script src="lib/popup.js?241205.2"></script>
<link rel="stylesheet" type="text/css" href="lib/popup.css?241205.2" />
<script>
windowName = "setting";

function show(index) {
	$("#settingNav > a.selected").removeClass("selected");
	$("#settingNav > a:eq(" + index + ")").addClass("selected");
	$("#settingArea > form.selected").removeClass("selected");
	var id = $("#settingArea > form:eq(" + index + ")").addClass("selected").attr("id");
	opened = id;
}
var opened = null;
var submitFuncs = {};
var refreshFuncs = {};
var refreshTableCommand;

var saved = {};
function checkSaved(key, ok, no) {
	if (saved[key].status) {
		if (ok) ok();
		return;
	}
	confirm(saved[key].name + " 변경사항이 사라집니다.", ok, no);
}
function setSaved(key, status) {
	var item = saved[key];
	if (item) {
		item.status = status;
	}
}
function requestClose(keys) {
	if (!keys) {
		keys = [];
		for (var key in saved) {
			keys.push(key);
		}
	}
	if (keys.length) {
		for (var i = 0; i < keys.length; i++) {
			var key = keys[i];
			checkSaved(key, function() {
				requestClose(keys.slice(i + 1));
			});
			success = false;
			break;
		}
	} else {
		window.close();
	}
}

$(function() {
	var SmiEditor = opener.SmiEditor;
	var setting = opener.setting;
	
	function refresh(form, setting) {
		form.find("input[type=text][name],input[type=number][name],textarea[name]").each(function() {
			var input = $(this);
			var name = input.attr("name");
			if (name.indexOf("what") > 0) {
				name = name.split("what").join(setting.player.control.dll);
			}
			var value = eval("setting['" + name.split("_").join("']['") + "']");
			if (typeof value == "number" || typeof value == "string") {
				input.val(value);
			} else if (value && value.join) {
				input.val(value.join("\n"));
			}
		});
		form.find("input[type=checkbox][name]").each(function() {
			var input = $(this);
			var name = input.attr("name");
			if (name.indexOf("what")) {
				name = name.split("what").join(setting.player.control.dll);
			}
			input.prop("checked", eval("setting['" + name.split("_").join("']['") + "']"));
		});
		form.find("select[name]").each(function() {
			var select = $(this);
			var name = select.attr("name");
			var value = eval("setting." + name.split("_").join("."));
			select.data({value: value});
		});
	}
	
	var fieldEditor = $("#fieldEditor");
	var fieldViewer = $("#fieldViewer");
	var fieldPlayer = $("#fieldPlayer");

	var tableCommand = $("#tableCommand");
	var inputCommandName = $("#inputCommandName");
	var inputCommandKey  = $("#inputCommandKey" );
	var inputCommandFunc = $("#inputCommandFunc");

	{	// 창
		(refreshFuncs["window"] = function(setting) {
			refresh($("#window"), setting);
			
			// 값에 맞춰 fieldset 이동
			var editor = [setting.window       , fieldEditor];
			var viewer = [setting.viewer.window, fieldViewer];
			var player = [setting.player.window, fieldPlayer];
			
			var ecss = {};
			var vcss = {};
			var pcss = {};
			
			function setLeft(css, x) {
				css.left = x + 1;
			}
			function setRight(css, x) {
				css.width = (x - css.left - 2) + "%";
				css.left = css.left + "%";
			}
			function setTop(css, y) {
				css.top = y + 1;
			}
			function setBottom(css, y) {
				css.height = (y - css.top - 2) + "%";
				css.top = css.top + "%";
			}

			var targetXY = [
				[	[ editor[0].x, function(x) { setLeft(ecss, x); } ]
				,	[ editor[0].x + editor[0].width, function(x) { setRight(ecss, x); } ]
				,	[ viewer[0].x, function(x) { setLeft(vcss, x); } ]
				,	[ viewer[0].x + viewer[0].width, function(x) { setRight(vcss, x); } ]
				,	[ player[0].x, function(x) { setLeft(pcss, x); } ]
				,	[ player[0].x + player[0].width, function(x) { setRight(pcss, x); } ]
				]
			,	[	[ editor[0].y, function(y) { setTop(ecss, y); } ]
				,	[ editor[0].y + editor[0].height, function(y) { setBottom(ecss, y); } ]
				,	[ viewer[0].y, function(y) { setTop(vcss, y); } ]
				,	[ viewer[0].y + viewer[0].height, function(y) { setBottom(vcss, y); } ]
				,	[ player[0].y, function(y) { setTop(pcss, y); } ]
				,	[ player[0].y + player[0].height, function(y) { setBottom(pcss, y); } ]
				]
			];
			for (var xy = 0; xy < 2; xy++) {
				var targets = targetXY[xy];
				targets.sort(function(a, b) { return a[0] - b[0]; });
				
				var last = [targets[0]];
				var ps = [last];
				for (var i = 1; i < targets.length; i++) {
					var curr = targets[i];
					if (curr[0] == last[0][0]) {
						last.push(curr);
					} else {
						last = [curr];
						ps.push(last);
					}
				}
				function getPos(i) {
					return 1 + ((98 / (ps.length - 1)) * i);
				}
				for (var i = 0; i < ps.length; i++) {
					var curr = ps[i];
					for (var j = 0; j < curr.length; j++) {
						curr[j][1](getPos(i));
					}
				}
			}
			
			fieldEditor.css(ecss);
			fieldViewer.css(vcss);
			fieldPlayer.css(pcss);
			
			setSaved("window", setting == opener.setting);
		})(setting);
	
		submitFuncs["window"] = function() {
			setting.window.x             = Number($("input[name=window_x]"            ).val());
			setting.window.y             = Number($("input[name=window_y]"            ).val());
			setting.window.width         = Number($("input[name=window_width]"        ).val());
			setting.window.height        = Number($("input[name=window_height]"       ).val());
			setting.viewer.window.x      = Number($("input[name=viewer_window_x]"     ).val());
			setting.viewer.window.y      = Number($("input[name=viewer_window_y]"     ).val());
			setting.viewer.window.width  = Number($("input[name=viewer_window_width]" ).val());
			setting.viewer.window.height = Number($("input[name=viewer_window_height]").val());
			setting.player.window.x      = Number($("input[name=player_window_x]"     ).val());
			setting.player.window.y      = Number($("input[name=player_window_y]"     ).val());
			setting.player.window.width  = Number($("input[name=player_window_width]" ).val());
			setting.player.window.height = Number($("input[name=player_window_height]").val());
			setting.player.window.use    = $("input[name=player_window_use]").prop("checked");
			setting.window.follow        = $("input[name=window_follow]").prop("checked");
			opener.saveSetting();
			opener.moveWindowsToSetting();
			refreshFuncs["window"](setting);
		};
		
		$("#btnGetWindows").on("click", function() {
			opener.binder.getWindows(["editor", "viewer", "player"]);
		});
		// C#에서 Script("afterGetWindow", object[] { "editor", x, y, w, h });
		opener.afterGetWindow = function(id, x, y, w, h) {
			var name = "window";
			if (id != "editor") {
				name = id + "_window";
			}
			$("input[name=" + name + "_x]"     ).val(x);
			$("input[name=" + name + "_y]"     ).val(y);
			$("input[name=" + name + "_width]" ).val(w);
			$("input[name=" + name + "_height]").val(h);
		};
	}
	
	{	// 싱크
		(refreshFuncs["sync"] = function(setting) {
			refresh($("#sync"), setting);
			setSaved("sync", setting == opener.setting);
		})(setting);
		
		submitFuncs["sync"] = function() {
			var preset = $("input[name=sync_preset]").val();
			
			// TODO: 프리셋 양식 오류 확인 필요
			//<Sync Start={sync}><P Class={lang}{type}>
			
			setting.sync.insert = Number($("input[name=sync_insert]").val());
			setting.sync.update = Number($("input[name=sync_update]").val());
			setting.sync.weight = Number($("input[name=sync_weight]").val());
			setting.sync.unit   = Number($("input[name=sync_unit]"  ).val());
			setting.sync.move   = Number($("input[name=sync_move]"  ).val());
			setting.sync.lang   = $("input[name=sync_lang]"  ).val();
			setting.sync.preset = preset;
			setting.sync.frame  = $("input[name=sync_frame]").prop("checked");
			opener.setSetting(setting);
			opener.saveSetting();
		};
	}
	
	{	// 단축키
		saved.cmd = { status: true, name: "단축키 설정" };
		
		(refreshFuncs["cmd"] = function(setting) {
			if (setting == opener.setting) {
				checkSaved("cmd", function() {
					setSaved("cmd", true);
					inputCommandName.val("");
					inputCommandKey .val("");
					inputCommandFunc.val("");
				});
				
			} else {
				confirm("현재 값은 복원할 수 없습니다.", function() {
					opener.setting.command = opener.deepCopyObj(setting.command);
					setSaved("cmd", true);
					inputCommandName.val("");
					inputCommandKey .val("");
					inputCommandFunc.val("");
					refreshTableCommand();
					opener.setSetting(opener.setting);
					opener.saveSetting();
				});
			}
		})(setting);
	
		var tbody = tableCommand.find("tbody");
		var withs = ["withCtrls", "withAlts", "withCtrlAlts", "withCtrlShifts"];
        var keys = "pqrstuvwxyz{ABCDEFGHIJKLMNOPQRSTUVWXYZ`1234567890";
        var keyNames = ["F1", "F2", "F3", "F4", "F5", "F6", "F7", "F8", "F9", "F10", "F11", "F12"].concat("ABCDEFGHIJKLMNOPQRSTUVWXYZ`1234567890".split(""));
		(refreshTableCommand = function() {
			tbody.empty();
			for (var i = 0; i < keys.length; i++) {
				var key = keys[i];
				var keyName = key;
				if (i < 12) {
					keyName = "F" + (i + 1);
				}
				var th = $("<th>").text(keyName);
				if (i < 12) {
					var func = setting.command.fn[key];
					if (!func || !func.trim()) {
						func = "";
						th.addClass("not-used");
					} else {
						var label = func.trim();
						if (label.substring(0, 2) == "/*") {
							label = label.substring(2).split("*/")[0].trim();
						}
						th.addClass("used").attr({ title: label });
					}
					th.data({
							"name": "setting.command.fn['" + key + "']"
						,	"key" : key
						,	"func": func
					});
				}
				var tr = $("<tr>").addClass("key-" + (keyName=='`' ? '~' : keyName)).append(th);
				for (var j = 0; j < withs.length; j++) {
					var w = withs[j];
					var td = $("<td>");
					if (SmiEditor[w].reserved.indexOf(key) >= 0) {
						var func = SmiEditor[w][key];
						var label = func;
						if (label) {
							var type = typeof label;
							if (type == "string") {
								label = label.trim();
								if (label.substring(0, 2) == "/*") {
									label = label.substring(2).split("*/")[0].trim();
								}
							} else if (type == "function") {
								label = label.name;
							}
						} else {
							label = "시스템 단축키";
						}
						label = "예약: " + label;
						td.addClass("fixed").text(label);
					} else {
						var func = setting.command[w][key];
						if (!func || !func.trim()) {
							func = "";
						} else {
							var label = func.trim();
							if (label.substring(0, 2) == "/*") {
								label = label.substring(2).split("*/")[0].trim();
							}
							td.addClass("used").text(label);
						}
						td.data({
								"name": "setting.command." + w + "['" + key + "']"
							,	"with": j
							,	"key" : key
							,	"func": func
						});
					}
					tr.append(td);
				}
				tbody.append(tr);
			}
		})();
		
		tableCommand.on("click", "th.used, th.not-used, td:not(.fixed)", function() {
			var data = $(this).data();
			var keyName = data.key;
			if (data.key.charCodeAt() > 111) {
				keyName = "F" + (data.key.charCodeAt() - 111);
			}
			switch (data.with) {
				case 0: {
					keyName = "Ctrl + " + keyName;
					break;
				}
				case 1: {
					keyName = "Alt + " + keyName;
					break;
				}
				case 2: {
					keyName = "Ctrl + Alt + " + keyName;
					break;
				}
				case 3: {
					keyName = "Ctrl + Shift + " + keyName;
					break;
				}
			}
			
			if (inputCommandKey.val() == keyName) {
				// 현재 작업 중인 것
				return;
			}
			checkSaved("cmd", function() {
				setSaved("cmd", true);
				inputCommandName.val(data.name);
				inputCommandKey .val(keyName);
				inputCommandFunc.val(data.func);
			});
		});

		inputCommandKey.on("keydown", function(e) {
			e.preventDefault();
			
			var name = "";
			var key = String.fromCharCode(e.keyCode);
			var func = "";
			if (e.keyCode == 192) {
				key = '`';
			}
			
			if (keys.indexOf(key) >= 0) {
				var keyName = key;
				if (111 < e.keyCode && e.keyCode < 192) {
					keyName = "F" + (e.keyCode - 111);
				}
				var keyIndex = keyNames.indexOf(keyName);
				var selector = "tr.key-" + (keyName == '`' ? '~' : keyName);
				
				var w = null;
				if (e.shiftKey) {
					if (e.ctrlKey) {
						if (e.altKey) {
							
						} else {
							if (SmiEditor.withCtrlShifts.reserved.indexOf(key) >= 0) {
								keyName = "Ctrl + Shift + 예약키";
							} else {
								func = tableCommand.find(selector + " > td:eq(3)").data("func");
								name = "setting.command.withCtrlShifts[\"" + key + "\"]";
								keyName = "Ctrl + Shift + " + keyName;
							}
						}
					}
				} else {
					if (e.ctrlKey) {
						if (e.altKey) {
							if (SmiEditor.withCtrlAlts.reserved.indexOf(key) >= 0) {
								keyName = "Ctrl + Alt + 예약키";
							} else {
								func = tableCommand.find(selector + " > td:eq(2)").data("func");
								name = "setting.command.withCtrlAlts[\"" + key + "\"]";
								keyName = "Ctrl + Alt + " + keyName;
							}
						} else {
							if (SmiEditor.withCtrls.reserved.indexOf(key) >= 0) {
								keyName = "Ctrl + 예약키";
							} else {
								func = tableCommand.find(selector + " > td:eq(0)").data("func");
								name = "setting.command.withCtrls[\"" + key + "\"]";
								keyName = "Ctrl + " + keyName;
							}
						}
					} else {
						if (e.altKey) {
							if (SmiEditor.withAlts.reserved.indexOf(key) >= 0) {
								keyName = "Alt + 예약키";
							} else {
								func = tableCommand.find(selector + " > td:eq(1)").data("func");
								name = "setting.command.withAlts[\"" + key + "\"]";
								keyName = "Alt + " + keyName;
							}
						} else {
							func = tableCommand.find(selector + " > th:eq(0)").data("func");
							name = "setting.fn[\"" + key + "\"]";
						}
					}
				}

				if (inputCommandKey.val() == keyName) {
					// 현재 작업 중인 것
					return;
				}
				$("#areaTableCommand").scrollTop(keyIndex * 20);
				checkSaved("cmd", function() {
					inputCommandName.val(name);
					inputCommandKey .val(keyName);
					inputCommandFunc.val(func);
				});
				
			} else {
				if (e.shiftKey) {
					if (e.ctrlKey) {
						if (e.altKey) {
							
						} else {
							key = "Ctrl + Shift + ";
						}
					}
				} else {
					if (e.ctrlKey) {
						if (e.altKey) {
							key = "Ctrl + Alt + ";
						} else {
							key = "Ctrl + ";
						}
					} else {
						if (e.altKey) {
							key = "Alt + ";
						} else {
							
						}
					}
				}
			}
		});
		
		inputCommandFunc.bind("input propertychange", function() {
			if (inputCommandKey.val().length > 1) { // 한 글자인 경우 단축키 조합 아님
				setSaved("cmd", false);
			} else {
				// 입력 차단
				inputCommandFunc.val("");
			}
		});

		$("#areaFunctions").on("click", "li", function() {
			var func = inputCommandFunc.val();
			inputCommandFunc.val((func ? func + "\n" : "") + $(this).data("input"));
			if (inputCommandName.val()) {
				setSaved("cmd", false);
			}
		});

		submitFuncs["cmd"] = function() {
			var name = inputCommandName.val();
			if (name) {
				var func = inputCommandFunc.val();
				if (func.trim().length == 0) {
					func = " ";
				}
				eval(name + " = func;");
				setSaved("cmd", true);
				refreshTableCommand();
				opener.setSetting(setting);
				opener.saveSetting();
			}
		};
	}
	
	{	// 자동완성
		(refreshFuncs["ac"] = function(setting) {
			refresh($("#ac"), setting);
			setSaved("ac", setting == opener.setting);
		})(setting);
	
		submitFuncs["ac"] = function() {
			$("#ac").find("textarea").each(function() {
				var textarea = $(this);
				var name = "setting['" + textarea.attr("name").split("_").join("']['") + "']";
				var value = textarea.val();
				if (value) {
					value = value.split("\n");
				} else {
					value = [];
				}
				eval(name + " = value");
			});
			opener.setSetting(setting);
			opener.saveSetting();
		};
	}
	
	{	// 자동치환
		saved.replace = { status: true, name: "자동치환 설정" };
	
		var replaceList = $("#replaceList");
	
		function appendReplace(item) {
			if (!item) {
				item = { from: "", to: "", use: true };
			}
			replaceList.append(
				$("<li>")
					.append($("<input type='text' name='from'>").val(item.from))
					.append("→")
					.append($("<input type='text' name='to'>"  ).val(item.to))
					.append($("<input type='checkbox' name='use'>").prop("checked", item.use))
					.append($("<button type='button' class='prev'>").text("∧"))
					.append($("<button type='button' class='next'>").text("∨"))
					.append($("<button type='button' class='remove'>").text("✕"))
			);
		}
		(refreshFuncs["replace"] = function(setting) {
			refresh($("#replace"), setting);
			replaceList.empty();
			for (var i = 0; i < setting.replace.length; i++) {
				appendReplace(setting.replace[i]);
			}
			setSaved("replace", setting == opener.setting);
		})(setting);
		
		$("#replace > .add-replace").on("click", function() {
			appendReplace();
			setSaved("replace", false);
		});

		replaceList.on("click", "li > button.prev", function() {
			var li = $(this).parent();
			var prev = li.prev();
			if (prev.length) {
				prev.before(li);
				setSaved("replace", false);
			}
		});
		replaceList.on("click", "li > button.next", function() {
			var li = $(this).parent();
			var next = li.next();
			if (next.length) {
				next.after(li);
				setSaved("replace", false);
			}
		});
		replaceList.on("click", "li > button.remove", function() {
			var li = $(this).parent();
			confirm("삭제하시겠습니까?", function() {
				li.remove();
				setSaved("replace", false);
			});
		});
		
		submitFuncs["replace"] = function() {
			var replaces = [];
			
			replaceList.find("li").each(function() {
				var li = $(this);
				var item = {
						from: li.find("input[name=from]").val()
					,	to  : li.find("input[name=to]").val()
					,	use : li.find("input[name=use]").prop("checked")
				};
				if (item.from && item.to) {
					replaces.push(item);
				}
			});

			setting.saveWithNormalize = $("input[name=saveWithNormalize]").prop("checked");
			setting.replace = replaces;
			setSaved("replace", true);
			opener.setSetting(setting);
			opener.saveSetting();
		};
	}
	
	{	// 스타일
		saved.style = { status: true, name: "스타일 설정" };
	
		(refreshFuncs["style"] = function(setting) {
			refresh($("#style"), setting);
			setSaved("style", setting == opener.setting);
		})(setting);
		
		$("#style").on("input propertychange", function() {
			setSaved("style", false);
		});
	
		submitFuncs["style"] = function() {
			setting.useTab          = $("input[name=useTab]").prop("checked");
			setting.useHighlight    = $("input[name=useHighlight]").prop("checked");
			setting.viewer.useAlign = $("input[name=viewer_useAlign]").prop("checked");
			setting.css             = $("textarea[name=css]"       ).val();
			setting.viewer.css      = $("textarea[name=viewer_css]").val();
			setting.newFile         = $("textarea[name=newFile]"   ).val();
			setSaved("style", true);
			opener.setSetting(setting);
			opener.saveSetting();
		};
	}
	
	{	// 플레이어
		(refreshFuncs["player"] = function(setting) {
			refresh($("#player"), setting);
			setSaved("player", setting == opener.setting);
		})(setting);
	
		var select = $("select[name=player_control_dll]");
		if (opener.playerDlls) {
			for (var i = 0; i < opener.playerDlls.length; i++) {
				var dll = opener.playerDlls[i].split(":");
				select.append($("<option>").val(dll[0].trim()).text(dll[1].trim()));
			}
			select.find("option[value=" + select.data("value") + "]").prop("selected", true);
		}
		select.on("change", function() {
			var dll = select.val();
			var dllSetting = setting.player.control[dll];
			if (!dllSetting) {
				dllSetting = {
						path: ""
					,	withRun: true
					,	withExit: true
				};
			}
			$("input[name=player_control_what_path]"    ).val(dllSetting.path);
			$("input[name=player_control_what_withRun]" ).prop("checked", dllSetting.withRun);
			$("input[name=player_control_what_withExit]").prop("checked", dllSetting.withExit);
		});
	
		$("#btnPlayerPath").on("click", function() {
			opener.binder.selectPlayerPath();
		});
		opener.afterSelectPlayerPath = function(path) {
			$("input[name=player_control_what_path]").val(path);
		};

		submitFuncs["player"] = function() {
			setting.player.exts = $("input[name=player_exts]").val();
			var dll = setting.player.control.dll = select.val();
			var dllSetting = setting.player.control[dll];
			if (!dllSetting) {
				dllSetting = setting.player.control[dll] = {};
			}
			dllSetting.path     = $("input[name=player_control_what_path]"    ).val();
			dllSetting.auto     = $("input[name=player_control_what_auto]"    ).prop("checked");
			dllSetting.withRun  = $("input[name=player_control_what_withRun]" ).prop("checked");
			dllSetting.withExit = $("input[name=player_control_what_withExit]").prop("checked");
			opener.setSetting(setting);
			opener.saveSetting();
			opener.binder.setVideoExts(setting.player.exts);
		};
	}
	
	{	// 메뉴
		saved.menu = { status: true, name: "메뉴 설정" };
	
		var menuList = $("#menuList");
	
		function appendMenu(menus) {
			if (!menus) menus = [""];
			
			var fieldset = $("<fieldset>");
			var legend = $("<legend>")
				.append($("<input type='text'>").val(menus[0]))
				.append($("<button type='button' class='prev'>").text("∧"))
				.append($("<button type='button' class='next'>").text("∨"))
				.append($("<button type='button' class='remove'>").text("✕"));
			fieldset.append(legend);
			
			var ol = $("<ol>");
			fieldset.append(ol);
			
			for (var j = 1; j < menus.length; j++) {
				var menu = menus[j];
				var div = menu.indexOf("|");
				var name = (div > 0) ? menu.substring(0, div) : menu;
				var func = (div > 0) ? menu.substring(div + 1) : "";
				appendSubMenu(ol, name, func);
			}
			
			fieldset.append($("<button type='button' class='add-menu'>").text("추가"));
			
			menuList.append($("<li>").append(fieldset));
		}
		function appendSubMenu(ol, name, func) {
			if (!ol) return;
			if (!name) name = "";
			if (!func) func = "";
			ol.append(
				$("<li>")
					.append($("<input type='text'>").val(name))
					.append($("<button type='button' class='prev'>").text("∧"))
					.append($("<button type='button' class='next'>").text("∨"))
					.append($("<input type='text' class='menu-func'>").val(func))
					.append($("<button type='button' class='remove'>").text("✕"))
			);
		}
		(refreshFuncs["menu"] = function(setting) {
			menuList.empty();
			for (var i = 0; i < setting.menu.length; i++) {
				appendMenu(setting.menu[i]);
			}
			setSaved("menu", setting == opener.setting);
		})(setting);
		
		$("#menu > .add-menu").on("click", function() {
			appendMenu();
			setSaved("menu", false);
		});
		
		menuList.on("click", ".add-menu", function() {
			appendSubMenu($(this).parent().find("ol"));
			setSaved("menu", false);
		});

		menuList.on("click", "legend > button.prev", function() {
			var menu = $(this).parents("li");
			var prev = menu.prev();
			if (prev.length) {
				prev.before(menu);
				setSaved("menu", false);
			}
		});
		menuList.on("click", "legend > button.next", function() {
			var menu = $(this).parents("li");
			var next = menu.next();
			if (next.length) {
				next.after(menu);
				setSaved("menu", false);
			}
		});
		menuList.on("click", "legend > button.remove", function() {
			var menu = $(this).parents("li");
			confirm("삭제하시겠습니까?", function() {
				menu.remove();
				setSaved("menu", false);
			});
		});
		
		menuList.on("click", "ol > li > button.prev", function() {
			var subMenu = $(this).parent();
			var prev = subMenu.prev();
			if (prev.length) {
				prev.before(subMenu);
				setSaved("menu", false);
			}
		});
		menuList.on("click", "ol > li > button.next", function() {
			var subMenu = $(this).parent();
			var next = subMenu.next();
			if (next.length) {
				next.after(subMenu);
				setSaved("menu", false);
			}
		});
		menuList.on("click", "ol > li > button.remove", function() {
			var subMenu = $(this).parent();
			confirm("삭제하시겠습니까?", function() {
				subMenu.remove();
				setSaved("menu", false);
			});
		});
		
		submitFuncs["menu"] = function() {
			var menus = [];
			
			menuList.find("fieldset").each(function() {
				var fieldset = $(this);
				var menu = [fieldset.find("legend > input").val()];
				
				fieldset.find("li").each(function() {
					var inputs = $(this).find("input");
					menu.push(inputs[0].value + "|" + inputs[1].value);
				});
				menus.push(menu);
			});
			
			setting.menu = menus;
			setSaved("menu", true);
			opener.setSetting(setting);
			opener.saveSetting();
			
			// Alt 단축키 바뀌었을 수 있으므로 단축키 설정 새로고침
			refreshTableCommand();
		};
	}
	
	$("#btnLoadSetting").on("click", function() {
		var refreshFunc = refreshFuncs[opened];
		if (refreshFunc) {
			refreshFunc(setting);
		}
	});
	
	$("#btnLoadDefault").on("click", function() {
		var refreshFunc = refreshFuncs[opened];
		if (refreshFunc) {
			refreshFunc(opener.DEFAULT_SETTING);
		}
	});
	
	$("#btnSubmit").on("click", function() {
		var submitFunc = submitFuncs[opened];
		if (submitFunc) submitFunc();
	});

	$("form").each(function() {
		var form = $(this);
		form.attr("onsubmit", "submitFuncs['" + form.attr("id") + "'](); return false;");
		form.append($("<button type='submit'>").hide());
	});
	
	show(0);
});
</script>
<style>
* {
	font-size: 14px;
}
body {
	background: #f0f0f0;
}
textarea {
	width: 100%;
	height: 100px;
	font-family: '돋움체'; /* 여기선 고정폭 문자 써야 할 듯 */
	resize: vertical;
}

input[type=number] { width: 50px; }

fieldset {
	border-color: #888;
	padding: 8px;
	margin: 8px 0;
}

fieldset li { margin-bottom: 2px; }

/* 기본 틀 */
#settingNav {
	position: fixed;
	top: 0;
	left: 8px;
	right: 8px;
	height: 40px;
	padding-top: 8px;
	border-bottom: 1px solid #888;
}
#settingArea {
	position: fixed;
	top: 40px;
	left: 8px;
	right: 8px;
	bottom: 48px;
	overflow-y: scroll;
	background: #f8f8f8;
	border: 1px solid #888;
	border-top: 0;
	padding: 8px;
}
#applyArea {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 48px;
}
#btnLoadSetting,
#btnLoadDefault,
#btnSubmit {
	float: right;
	margin: 8px 8px 8px 0;
	min-width: 100px;
	padding: 4px;
	line-height: 22px;
	font-size: 16px;
}

/* 탭 UI */
#settingNav > a {
	display: block;
	float: left;
	margin: 0 -1px -1px 0;
	border: 1px solid #888;
	border-radius: 6px 6px 0 0;
	background: #eee;
	color: #000;
	font-size: 16px;
	text-decoration: none;
	height: 32px;
	line-height: 32px;
	padding: 0 8px;
}
#settingNav > a.selected {
	background: #f8f8f8;
	border-bottom-color: #f8f8f8;
}
#settingNav > a:hover {
	background: #f8f8f8;
}
#settingArea > form {
	display: none;
}
#settingArea > form.selected {
	display: block;
}

/* 창 */
#fieldEditor,
#fieldViewer,
#fieldPlayer {
	position: absolute;
}
#fieldEditor:hover,
#fieldViewer:hover,
#fieldPlayer:hover {
	z-index: 9999;
	background: #f8f8f8;
}

/* 단축키 */
#areaTableCommand {
	height: 210px;
	overflow-y: scroll;
	border-bottom: 1px solid #aaa;
	margin-bottom: 4px;
}
#tableCommand {
	width: 100%;
}
#tableCommand tr {
	height: 20px;
}
#tableCommand th {
	background: #e1e1e1;
}
#tableCommand th.not-used {
	background: #fff;
}
#tableCommand th.used,
#tableCommand th.not-used {
	cursor: pointer;
}
#tableCommand td {
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}
#tableCommand th.not-used:hover,
#tableCommand td:hover {
	background: #ff8;
}
#tableCommand td.fixed {
	background: #f88;
	cursor: default;
}
#tableCommand th.used,
#tableCommand td.used {
	background: #8ff;
}
#tableCommand th.used:hover,
#tableCommand td.used:hover {
	background: #cfc;
}
#areaFunctions li {
	margin: 8px 0;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 4px;
	cursor: pointer;
}
#areaFunctions li:hover {
	background: #ffd;
}
#areaFunctions h4 {
	margin-bottom: 4px;
}

/* 자동치환, 메뉴 */
#replaceList { margin: 8px 0 2px; }
#replaceList input[type=text] { width: calc(50% - 40px); }
#replaceList input[type=checkbox] { width: 17px; }
#replace > button.add-replace { width: 100%; margin-top: 8px; }

#replaceList button,
#menu button { width: 16px; }
#menu input,
#menu button.add-menu { width: 200px; }
#menu input.menu-func { width: calc(100% - 250px); margin-left: 2px; }
#menu > button.add-menu { width: 216px; margin-top: 8px; }

#replaceList button,
fieldset legend button,
fieldset ol button,
#btnPlayerPath { border-left-width: 0; }
#replace input + button { border-left-width: 1px; }

</style>
</head>
<body>

<nav id="settingNav">
	<a href="javascript:show(0)">창 배치</a>
	<a href="javascript:show(1)">싱크</a>
	<a href="javascript:show(2)">단축키</a>
	<a href="javascript:show(3)">자동완성</a>
	<a href="javascript:show(4)">자동치환</a>
	<a href="javascript:show(5)">스타일</a>
	<a href="javascript:show(6)">플레이어</a>
	<a href="javascript:show(7)">메뉴</a>
</nav>
<div id="settingArea">
	<form id="window" style="height: 100%;">
		<div>
			<button type="button" id="btnGetWindows" style="padding: 4px;">현재 위치 가져오기</button>
			<label><input type="checkbox" name="window_follow" /> 창 함께 이동</label>
		</div>
		<div style="width: 100%; height: calc(100% - 50px); position: relative;">
			<fieldset id="fieldEditor">
				<legend>에디터</legend>
				<label>↦: <input type="number" name="window_x" /></label>
				<label>↧: <input type="number" name="window_y" /></label>
				<br />
				<label>↔: <input type="number" name="window_width" /></label>
				<label>↕: <input type="number" name="window_height" /></label>
			</fieldset>
			<fieldset id="fieldViewer">
				<legend>미리보기</legend>
				<label>↦: <input type="number" name="viewer_window_x" /></label>
				<label>↧: <input type="number" name="viewer_window_y" /></label>
				<br />
				<label>↔: <input type="number" name="viewer_window_width" /></label>
				<label>↕: <input type="number" name="viewer_window_height" /></label>
			</fieldset>
			<fieldset id="fieldPlayer">
				<legend>플레이어</legend>
				<label>↦: <input type="number" name="player_window_x" /></label>
				<label>↧: <input type="number" name="player_window_y" /></label>
				<br />
				<label>↔: <input type="number" name="player_window_width" /></label>
				<label>↕: <input type="number" name="player_window_height" /></label>
				<br />
				<label><input type="checkbox" name="player_window_use" /> 위치 고정 사용</label>
			</fieldset>
		</div>
	</form>
	
	<form id="sync">
		<label>싱크 입력 시 <input type="number" name="sync_insert" />줄 아래로 이동</label><br />
		<label>싱크 수정 시 <input type="number" name="sync_update" />줄 아래로 이동</label><br />
		<label>싱크 가중치: <input type="number" name="sync_weight" />ms</label><br />
		<label>싱크 조절 단위: <input type="number" name="sync_unit" />ms</label><br />
		<label>재생 이동 단위: <input type="number" name="sync_move" />ms</label><br />
		<label>싱크 언어: <input type="text" name="sync_lang" /></label><br />
		<label>싱크 태그 형태: <input type="text" name="sync_preset" style="width: 400px;" /></label><br />
		<br />
		<label><input type="checkbox" name="sync_frame" /> 프레임 단위 싱크 보정</label><br />
		<p>※ FPS를 기준으로 프레임 단위 싱크로 보정이 들어갑니다.<br />
			가변 프레임 영상의 경우 문제가 생길 수 있습니다. 
		</p>
	</form>
	
	<form id="cmd">
		<table style="width: calc(100% - 17px);">
			<cols>
				<col style="width: 8%;" />
				<col style="width: 23%;" />
				<col style="width: 23%;" />
				<col style="width: 23%;" />
				<col style="width: 23%;" />
			</cols>
			<thead>
				<tr>
					<th></th>
					<th>Ctrl</th>
					<th>Alt</th>
					<th>Ctrl+Alt</th>
					<th>Ctrl+Shift</th>
				</tr>
			</thead>
		</table>
		<div id="areaTableCommand">
			<table id="tableCommand">
				<cols>
					<col style="width: 8%;" />
					<col style="width: 23%;" />
					<col style="width: 23%;" />
					<col style="width: 23%;" />
					<col style="width: 23%;" />
				</cols>
				<tbody></tbody>
			</table>
		</div>
		<input type="hidden" id="inputCommandName" />
		<label>조합 <input type="text" id="inputCommandKey" readonly style="width: 100px;" /> (← 여기를 선택한 상태에서 단축키를 입력할 수 있습니다.)</label>
		<br />
		<textarea id="inputCommandFunc" spellcheck="false"></textarea>
		
		<fieldset id="areaFunctions" style="height: 364px; overflow-y: scroll;">
			<legend>사용자 정의 명령 함수 지원</legend>
			<ul>
				<li data-input="editor.getText()">
					<h4>editor.getText() → { text: '전체_텍스트', selection: ['커서_시작', '커서_끝'] }</h4>
					<p>전체 내용을 구해옵니다.</p>
				</li>
				<li data-input="editor.setText(text, [cursor, cursor])">
					<h4>editor.setText(string '대체_텍스트', number[] ['커서_시작', '커서_끝'])</h4>
					<p>전체 내용을 교체합니다.</p>
				</li>
				<li data-input="editor.getLine()">
					<h4>editor.getLine() → { text: '현재_줄_텍스트', selection: ['커서_시작', '커서_끝'] }</h4>
					<p>커서(끝) 줄의 내용을 가져옵니다.</p>
				</li>
				<li data-input="editor.setLine(text, [cursor, cursor])">
					<h4>editor.setLine(string '대체_텍스트', number[] ['커서_시작', '커서_끝'])</h4>
					<p>커서(끝) 줄의 내용을 교체합니다.</p>
				</li>
				<li data-input="editor.inputText(text, false)">
					<h4>editor.inputText(string '입력_텍스트', bool '커서_고정')</h4>
					<p>현재 커서 위치에 내용을 입력합니다.</p>
				</li> 
				<li data-input="editor.tagging('<i>', false)">
					<h4>editor.tagging(string '&lt;태그&gt;', bool '커서_위치부터')</h4>
					<p>커서가 있는 줄 전체, 혹은 커서 위치 이후 문자열에 태그를 입힙니다.</p>
				</li>
				<li data-input="editor.taggingRange('<u>')">
					<h4>editor.taggingRange(tag) { self.taggingRange(tag); };</h4>
					<p>tagging(string '&lt;태그&gt;', true)와 같은 동작입니다.</p>
				</li>
				<li data-input="editor.moveToSync()">
					<h4>editor.moveToSync()</h4>
					<p>현재 대사의 싱크를 재생합니다.<br />
						괄호 안에 가중치를 넣을 수 있습니다.
					</p>
				</li>
				<li data-input="editor.findSync()">
					<h4>editor.findSync()</h4>
					<p>현재 재생 중인 대사를 찾습니다.</p>
				</li>
				<li data-input="editor.deleteLine()">
					<h4>editor.deleteLine()</h4>
					<p>현재 줄을 삭제합니다.</p>
				</li>
				<li data-input="editor.insertSync()">
					<h4>editor.insertSync()</h4>
					<p>싱크를 찍습니다.</p>
				</li>
				<li data-input="editor.insertSync(true)">
					<h4>editor.insertSync(true)</h4>
					<p>화면 싱크를 찍습니다.</p>
				</li>
				<li data-input="editor.toggleSyncType()">
					<h4>editor.toggleSyncType()</h4>
					<p>기본 싱크 ↔ 화면 싱크 토글</p>
				</li>
				<li data-input="editor.removeSync()">
					<h4>editor.removeSync()</h4>
					<p>선택 영역 싱크를 삭제합니다.</p>
				</li>
				<li data-input="SmiEditor.PlayerAPI.playOrPause()">
					<h4>SmiEditor.PlayerAPI.playOrPause()</h4>
					<p>재생/일시정지</p>
				</li>
				<li data-input="SmiEditor.PlayerAPI.play()">
					<h4>SmiEditor.PlayerAPI.play()</h4>
					<p>재생</p>
				</li>
				<li data-input="SmiEditor.PlayerAPI.stop()">
					<h4>SmiEditor.PlayerAPI.stop()</h4>
					<p>정지</p>
				</li>
				<li data-input="newFile()">
					<h4>newFile()</h4>
					<p>새 파일</p>
				</li>
				<li data-input="openFile()">
					<h4>openFile()</h4>
					<p>파일 열기</p>
				</li>
				<li data-input="saveFile()">
					<h4>saveFile()</h4>
					<p>파일 저장하기</p>
				</li>
				<li data-input="saveFile(true)">
					<h4>saveFile(true)</h4>
					<p>다른 이름으로 저장하기</p>
				</li>
				<li data-input="openSetting()">
					<h4>openSetting()</h4>
					<p>설정창 열기</p>
				</li>
				<li data-input="openAddon('~~.html')">
					<h4>openAddon("~~.html?241205.2")</h4>
					<p>직접 만든 부가기능 창을 열 수 있습니다.</p>
				</li>
			</ul>
		</fieldset>
	</form>
	
	<form id="ac">
		<p>
			줄 단위로 자동완성 문자열을 지정할 수 있습니다.<br />
			반드시 시작 문자가 일치해야 하며, '|'를 이용해 입력값과 출력값이 다르게 설정할 수 있습니다. 
		</p>
		<label>@
			<textarea name="autoComplete_50_1"  spellcheck="false"></textarea>
		</label>
		<label>#
			<textarea name="autoComplete_51_1"  spellcheck="false"></textarea>
		</label>
		<label>$
			<textarea name="autoComplete_52_1"  spellcheck="false"></textarea>
		</label>
		<label>%
			<textarea name="autoComplete_53_1"  spellcheck="false"></textarea>
		</label>
		<label>^
			<textarea name="autoComplete_54_1"  spellcheck="false"></textarea>
		</label>
		<label>&
			<textarea name="autoComplete_55_1"  spellcheck="false"></textarea>
		</label>
		<label>(
			<textarea name="autoComplete_57_1"  spellcheck="false"></textarea>
		</label>
		<label>)
			<textarea name="autoComplete_48_1"  spellcheck="false"></textarea>
		</label>
		<label>&lt;
			<textarea name="autoComplete_188_1" spellcheck="false"></textarea>
		</label>
		<label>&gt;
			<textarea name="autoComplete_190_1" spellcheck="false"></textarea>
		</label>
	</form>
	
	<form id="replace">
		<p>
			자막 파일 저장 시 자동치환 동작 설정입니다. 
		</p>
		<label><input type="checkbox" name="saveWithNormalize" /> 특수태그 정규화 자동 적용</label><br />
		<ol id="replaceList"></ol>
		<button type="button" class="add-replace">추가</button>
	</form>
	
	<form id="style">
		<label><input type="checkbox" name="useTab" /> 탭 사용</label><br />
		<label><input type="checkbox" name="useHighlight" /> 문법 하이라이트 사용 (파일이 커질 경우 성능 문제가 발생할 수 있습니다.)</label><br />
		<label><input type="checkbox" name="viewer_useAlign" /> 미리보기 줄표로 시작할 경우 왼쪽 정렬</label><br />
		<label>새 문서
			<textarea name="newFile" spellcheck="false" style="height: 400px;"></textarea>
		</label>
		<br />
		<label>미리보기
			<textarea name="viewer_css" spellcheck="false" style="height: 300px;"></textarea>
		</label>
		<br />
		<label>에디터
			<textarea name="css" spellcheck="false" style="height: 200px;"></textarea>
		</label>
	</form>
	
	<form id="player">
		<label>동영상 파일 확장자: <input type="text" name="player_exts" style="width: calc(100% - 140px);" /></label>
		<fieldset>
			<legend>플레이어: <select name="player_control_dll"></select></legend>
			<label>실행파일: <input type="text" name="player_control_what_path" style="width: calc(100% - 170px);" /></label><button id="btnPlayerPath" style="width: 100px;">찾아보기...</button><br />
			<label><input type="checkbox" name="player_control_what_withRun"  /> 프로그램 실행 시 플레이어 실행</label><br />
			<label><input type="checkbox" name="player_control_what_withExit" /> 프로그램 종료 시 플레이어 종료</label><br />
		</fieldset>
		<span>※ 다른 플레이어를 연동하고 싶으신 분은 "프로그램 폴더\bridge\readme.txt"를 참고하시기 바랍니다.</span>
	</form>

	<form id="menu">
		<ol id="menuList"></ol>
		<button type="button" class="add-menu">추가</button>
	</form>
</div>
<div id="applyArea">
	<button type="button" id="btnSubmit" accesskey="S">적용(<u>S</u>)</button>
	<button type="button" id="btnLoadDefault">기본값으로</button>
	<button type="button" id="btnLoadSetting">현재 설정으로</button>
</div>
</body>
</html>