<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>화면 싱크 매니저</title>
	<script src="../lib/jquery-3.2.1.min.js?250531"></script>
	<script src="../lib/SubtitleObject.js?250531"></script>
	<script src="../lib/popup.js?250531"></script>
	<script src="../lib/SmiEditor.js?250531"></script>
	<link rel="stylesheet" type="text/css" href="../lib/popup.css?250531" />
	<script>
windowName = "addon";

// 초기 상태 기억
// TODO: 경우에 따라 opener 분리 필요
const tab = (opener && opener.SmiEditor) ? opener.SmiEditor.selected : null;
const origin = tab ? tab.getText() : null;
if (tab) {
	SmiEditor.video = opener.SmiEditor.video;
}
const RANGE = 10; // 현재 싱크 전후로 렌더링할 범위
let mode = 1;
const M = [null, "", "_", "~"]; // 모드에 따른 파일명 끝 표시

$(() => {
	if (!origin) {
		alert("작업 대상이 없습니다.");
		window.close();
		return;
	}
	if (!SmiEditor || !SmiEditor.video || !SmiEditor.video.fs || !SmiEditor.video.fs.length) {
		alert("영상 프레임 정보가 없습니다.");
		window.close();
		return;
	}
	const fs = SmiEditor.video.fs;
	const kfs = SmiEditor.video.kfs;
	
	origin.tab = tab;
	origin.lines = tab.lines;
	origin.start = 0;
	origin.end = 0;

	// 선택 범위만 작업
	if (origin.selection[0] != origin.selection[1]) {
		origin.start = origin.text.substring(0, origin.selection[0]).split("\n").length - 1;
		origin.end   = origin.text.substring(0, origin.selection[1]).split("\n").length;
	} else {
		origin.end = origin.text.split("\n").length;
	}
	
	const lines = origin.lines.slice(origin.start, origin.end);
	for (let i = 0; i < lines.length; i++) {
		lines[i] = lines[i].TEXT;
	}
	origin.file = new Subtitle.SmiFile(lines.join("\n"));
	if (!origin.file.body.length) {
		alert("작업 대상이 없습니다.");
		window.close();
		return;
	}
	
	const $body = $("body");
	const $tbody = $("#editor tbody").empty();
	const $framesStorage = $("<div>"); // 객체 remove 하면 data가 날아가서 여기에 보관함
	const frameSyncs = [];
	
	$("#editor thead").empty().append($("<tr>").append($("<td>")).append($("<td>")).append($("<td>").text(origin.file.header.split("\n").join(""))));
	$("#editor tfoot").empty().append($("<tr>").append($("<td>")).append($("<td>")).append($("<td>").text(origin.file.footer.split("\n").join(""))));
	
	const renderList = [];
	let renderGroup = { end: -11 };
	
	let lastFade = 0;
	for (let i = 0; i < origin.file.body.length; i++) {
		const smi = origin.file.body[i];
		const attrs = smi.toAttr();
		let fade = 0;
		for (let j = 0; j < attrs.length; j++) {
			const attr = attrs[j];
			if (attr.fade == -1 || attr.fade == 1) {
				fade = attr.fade;
				break;
			}
		}
		
		const $tr = $("<tr>").data({ smi: smi });
		if (smi.syncType == Subtitle.SyncType.frame) {
			const frameIndex = SmiEditor.findSyncIndex(smi.start, fs);
			const $frames = $("<div>").addClass("frames");
			const $sync = $("<td>").addClass("sync").text(fs[frameIndex]);
			$framesStorage.append($frames);
			$tr.addClass("fs").append($("<td>")).append($sync).append($("<td>").text(smi.text.split("\n").join("")));
			$tr.data({ index: frameSyncs.length, $frames: $frames, frameIndex: frameIndex, offset: 0 });
			$tbody.append($tr);
			frameSyncs.push($tr);
			
			let flag = "";
			if (fade == 1) {
				// 페이드인 시작 이미지 밝게
				flag = "b";
			} else if (fade == -1) {
				// 페이드아웃 시작 이미지 어둡게
				flag = "d";
			} else if (lastFade == -1) {
				// 페이드아웃 종료 이미지 밝게
				flag = "b";
			} else if (lastFade == 1) {
				// 페이드인 종료 이미지 어둡게
				flag = "d";
			}
			
			const begin = (frameIndex < RANGE ? 0 : frameIndex - RANGE);
			const end = (frameIndex + RANGE > fs.length ? fs.length : frameIndex + RANGE);
			let lastKf = 0;
			{
				const beginSync = fs[begin];
				for (let j = 0; j < kfs.length; j++) {
					if (kfs[j] < beginSync) {
						lastKf = kfs[j];
					}
				}
			}
			if ((renderGroup.flag == flag) && (lastKf < fs[renderGroup.end] + 100)) { // 렌더링에 필요한 키프레임이 앞쪽과 100ms 이내로 이어짐
				renderGroup.end = end;
			} else {
				renderList.push(renderGroup = {
						flag: flag
					,	time: fs[begin] + 1 // 반올림되거나 한 경우 고려해서 +1ms
					,	begin: begin
					,	end: end
				});
			}
			
			for (let j = -RANGE; j < RANGE; j++) {
				const imgIndex = frameIndex + j;
				$frames.append($("<img>").addClass("frame img" + imgIndex + flag).css({ left: (j * 98) }).data({ index: imgIndex, offset: j }));
			}
			
		} else {
			$tr.append($("<td>").html("&nbsp;")).append($("<td>").addClass("sync").text(smi.syncType == Subtitle.SyncType.inner ? "~" : smi.start)).append($("<td>").text(smi.text.split("\n").join("")))
			$tbody.append($tr);
		}
		
		lastFade = fade;
	}
	if (!renderList.length) {
		alert("작업 대상이 없습니다.");
		window.close();
		return;
	}
	
	// 이미지 렌더링 요청
	let params = [];
	for (let i = 0; i < renderList.length; i++) {
		const group = renderList[i];
		// [ 시작시간, 종료시간, 시작인덱스, 종료인덱스, 플래그 ]
		params.push([group.time, fs[group.end] + 1 - group.time, group.begin, group.end, group.flag].join(","));
	}
	opener.binder.renderThumbnails(SmiEditor.video.path, params.join("\n"));
	
	let fileSeq = 0;
	opener.setThumbnailsFileSeq = function(thumbnailsFileSeq) {
		fileSeq = thumbnailsFileSeq;
	}

    // 렌더링 중일 때 색깔 넣어줌
    opener.startRenderThumbnails = function(begin, end, flag) {
        for (let i = begin; i < end; i++) {
            $tbody.find("img.img" + i + flag).addClass("rendering");
            $framesStorage.find("img.img" + i + flag).addClass("rendering");
        }
        $body.scroll();
    }

	// 렌더링 완료 후 이미지 세팅
	// 미리 값을 넣어주면 삭제되지 않은 다른 영상 섬네일 가져올 수 있음
	opener.afterRenderThumbnails = function(begin, end, flag) {
		for (let i = begin; i < end; i++) {
			$tbody.find("img.img" + i + flag).data({ img: i + flag });
            $framesStorage.find("img.img" + i + flag).data({ img: i + flag });
		}
		$body.scroll();
	}
	// 차이 비교값... 현재 쓰이지 않음...
	const diffs = {};
	opener.setDiff = function(key, diff) {
		diffs[key] = diff;
	}
	
	let selected = -1;
	function select(index) {
		if (selected == index) return;
		
		const $tr = frameSyncs[selected = index];
		
		$tbody.find("tr.fs.selected").removeClass("selected");
		$tr.addClass("selected");
		
		const offset = $tr.offset();
		if (offset.top < 0) {
			$body.stop().animate({ scrollTop: $body.scrollTop() + offset.top - 30 }, 200);
		} else {
			const bottom = offset.top + 56;
			const margin = $body.height() - bottom;
			if (margin < 0) {
				$body.stop().animate({ scrollTop: $body.scrollTop() - margin + 30 }, 200);
			}
		}
	}
	function moveSync(direction, isOffset=false) {
		const $tr = frameSyncs[selected];
		const data = $tr.data();
		
		const offset = isOffset ? direction : (data.offset + direction);
		if (offset < -12 || offset >= 12) return;
		
		const index = data.frameIndex + offset;
		if (index < 0) return;
		
		$tr.data({ offset: offset });
		data.$frames.css({ left: "calc(50% - " + (offset * 98) + "px)" });
		$tr.find("td.sync").text(fs[index]);
	}
	
	function apply() {
		const smis = [];
		$tbody.find("tr").each(function() {
			const $tr = $(this);
			const smi = $tr.data("smi");
			if ($tr.hasClass("fs")) {
				smi.start = Number($tr.find(".sync").text());
			}
			smis.push(smi);
		});
		
		// 중간 싱크 재계산
		let startIndex = -1;
		for (let i = 1; i < smis.length; i++) {
			if (smis[i].syncType == Subtitle.SyncType.inner) {
				if (startIndex < 0) {
					startIndex = i - 1;
				}
			} else {
				if (startIndex >= 0) {
					const endIndex = i;
					const startSync = smis[startIndex].start;
					const endSync   = smis[endIndex  ].start;
					const count = endIndex - startIndex;

					for (let j = 1; j < count; j++) {
						smis[startIndex + j].start = Math.round(((count - j) * startSync + j * endSync) / count);
					}
					startIndex = -1;
				}
			}
		}
		
		const result = new Subtitle.SmiFile();
		result.header = origin.file.header;
		result.footer = origin.file.footer;
		result.body = smis;
		
		// 해당 줄 앞뒤 전체 선택되도록 조정
		const origLines = origin.text.split("\n");
		const prev = origLines.slice(0, origin.start).join("\n");
		const next = origLines.slice(origin.end).join("\n");
		
		// 교체 및 종료
		origin.tab.setText((prev ? prev + "\n" : "") + result.toTxt() + (next ? "\n" + next : ""), [prev ? prev.length + 1 : 0]);
	}
	
	$tbody.on("click", "tr.fs", function(e) {
		select($(this).data("index"));
		
	}).on("dblclick", "tr.fs", function(e) {
		// 에디터 해당 싱크로 이동
		opener.SmiEditor.selected.findSync($(this).find("td.sync").text());
		
	}).on("click", "img.frame", function(e) {
		const $img = $(this);
		select($img.parents("tr").data("index"));
		moveSync($img.data("offset"), true);
	});
	
	$(document).on("keydown", function(e) {
		switch (e.keyCode) {
			case 38: { // ↑
				e.preventDefault();
				if (e.ctrlKey || selected == 0) {
					$body.stop().animate({ scrollTop: $body.scrollTop() - 56 }, 200);
					break;
				}
				if (selected > 0) {
					select(selected - 1);
				}
				break;
			}
			case 40: { // ↓
				e.preventDefault();
				if (e.ctrlKey || selected == frameSyncs.length - 1) {
					$body.stop().animate({ scrollTop: $body.scrollTop() + 56 }, 200);
					break;
				}
				if (selected < frameSyncs.length - 1) {
					select(selected + 1);
				}
				break;
			}
			case 37: { // ←
				moveSync(-1);
				break;
			}
			case 39: { // →
				moveSync(+1);
				break;
			}
			case 46: { // Delete: 프레임 선택 취소
				moveSync(0, true);
				break;
			}
		}
	}).on("keydown", "input[name=mode]", function(e) {
		// 모드 선택 후에도 방향키 조작은 원래대로 동작해야 함
		e.preventDefault();
	});
	
	function showFrames($tr) {
		const $frames = $tr.data("$frames");
		$frames.find("img").each(function () {
			const $img = $(this);
            $img.attr({ src: "../../temp/thumbnails/" + fileSeq + "_" + $img.data("img") + M[mode] + ".jpg" });
		});
        $tr.find("td:eq(0)").append($frames);
	}
	function hideFrames($tr) {
		const $frames = $tr.data("$frames");
		$framesStorage.append($frames);
	}
	$("body").on("scroll", function(e) {
		let status = -1;
		$("#editor tbody tr.fs").each(function() {
			const $tr = $(this);
			
			if (status < 1) {
				const offset = $tr.offset();
				
				if (status < 0) {
					if (offset.top + 56 < 0) {
						// 위쪽에 있어서 안 보임
						hideFrames($tr);
						return;
					}
				}
				if (offset.top > $body.height()) {
					// 아래쪽에 있어서 안 보임
					hideFrames($tr);
					return;
				}
				
				showFrames($tr);
				
			} else {
				// 아래쪽에 있어서 안 보임
				hideFrames($tr);
			}
		});
	}).scroll();
	
	$("#inputShift").on("keydown", function(e) {
		// 가중치 입력 중엔 방향키 조작 차단
		e.stopPropagation();
	});
	
	$("#formShift").on("submit", function() {
		const shift = Number($("#inputShift").val());
		for (let i = 0; i < origin.file.body.length; i++) {
			const smi = origin.file.body[i];
			if (smi.syncType == Subtitle.SyncType.frame) {
				const frameIndex = SmiEditor.findSyncIndex(smi.start, fs);
				const shiftIndex = SmiEditor.findSyncIndex(smi.start + shift, fs);
				const offset = shiftIndex - frameIndex;
				const $tr = $tbody.find("tr:eq(" + i + ")");
				$tr.data({ offset: offset });
				$tr.data("$frames").css({ left: "calc(" + (-98 * offset) + "px + 50%" });
				$tr.find("td.sync").text(fs[shiftIndex]);
			}
		}
		return false;
	}).on("click", "input[name=mode]", function() {
		mode = $("input[name=mode]:checked").val();
		$tbody.find("img").each(function() {
			const $img = $(this);
			$img.attr({ src: "../../temp/thumbnails/" + fileSeq + "_" + $img.data("img") + M[mode] + ".jpg" });
		});
		for (let i = 1; i <= 3; i++) {
			if (i == mode) {
				$body.addClass("mode" + i);
			} else {
				$body.removeClass("mode" + i);
			}
		}
	});
	
	$("#btnApply").on("click", function() {
		apply();
    });
    $("#btnSet").on("click", function () {
        apply();
        window.close();
    });
	
	// 페이지 벗어날 경우 렌더링 취소
	window.onunload = function () {
		opener.binder.cancelRenderThumbnails();
	}
	
	select(0);
});
	</script>
	<style>
body {
	overflow-y: scroll;
}
#editorLayer {
	position: relative;
}
#editor {
	width: 100%;
	border: 0;
	table-layout: fixed;
}
#editor tr {
	color: #888;
}
#editor tr.fs {
	height: 57px;
	color: #000;
}
#editor tr.fs.selected td {
	background: #ffc;
}
#editor td {
	overflow: hidden;
	padding: 4px 2px;
}
#editor td:first-child {
	position: relative;
	border-left: 0;
}
#editor td:nth-child(2) {
	text-align: right;
}
#editor td:last-child {
	white-space: pre;
	border-right: 0;
}
#editor .frames {
	position: absolute;
	top: 0;
	left: 50%;
	height: 56px;
	transition: 0.2s;
}
#editor .frame {
	display: block;
	position: absolute;
	top: 0;
	border: 1px solid #888;
	width: 98px;
	height: 56px;
	cursor: pointer;
}
#editor .frame.rendering {
	background: #fee;
}
#editor .frame:hover {
	border-color: #f88;
	opacity: 0.8;
}
.frameChecker {
	position: absolute;
	top: 0;
	width: 1px;
	background: #f0f;
	bottom: 0;
	border: 0;
	transition: 0.2s;
}
.frameChecker.left  { left: calc(35% - 1.5px); }
.frameChecker.right { left: calc(35% - 0.5px); }
body:not(.mode1) #editor .frames {
	margin-left: -49px;
}
body:not(.mode1) .frameChecker.left  { left: calc(35% - 49.5px); }
body:not(.mode1) .frameChecker.right { left: calc(35% + 48.5px); }
#formShift, #btnApply, #btnSet {
	position: fixed;
	opacity: 0.5;
	right: 0;
}
#formShift:hover, #btnApply:hover {
	opacity: 1;
}
#formShift {
	top: 0;
	border: 0 solid #aaa;
	border-width: 0 0 1px 1px;
	background: #fff;
	width: 160px;
	padding: 4px;
}
#inputShift {
	width: 50px;
}
#btnShift {
	width: 50px;
}
#btnApply {
	width: 100px;
	height: 30px;
	bottom: 30px;
}
#btnSet {
	width: 100px;
	height: 30px;
	bottom: 0;
}
	</style>
</head>
<body class="mode1">
	<div id="editorLayer">
		<table id="editor">
			<colgroup>
				<col style="width: 70%;" />
				<col style="width: 80px;" />
				<col />
			</colgroup>
			<thead></thead>
			<tbody></tbody>
			<tfoot></tfoot>
		</table>
		<div class="frameChecker left"></div>
		<div class="frameChecker right"></div>
	</div>
	<form id="formShift"><label>가중치 <input id="inputShift" type="number" value="0" /></label><button type="submit" id="btnShift">초기화</button>
		<ol>
			<li title="Alt+1"><label><input type="radio" name="mode" value="1" accesskey="1" checked /> 기본</label></li>
			<li title="Alt+2"><label><input type="radio" name="mode" value="2" accesskey="2" /> 이전 프레임과 차이</label></li>
			<li title="Alt+3"><label><input type="radio" name="mode" value="3" accesskey="3" /> 밝기 변화</label></li>
		</ol>
	</form>
	<button type="button" id="btnApply" title="Alt+A" accesskey="a">적용</button>
	<button type="button" id="btnSet"   title="Alt+S" accesskey="s">적용 후 닫기</button>
</body>
</html>