<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>ASS 자막으로 변환</title>
	<script src="../lib/jquery-3.2.1.min.js"></script>
	<script src="../lib/popup.js"></script>
	<script src="../lib/SubtitleObject.js"></script>
	<script src="../lib/SmiEditor.js"></script>
	<link rel="stylesheet" type="text/css" href="../lib/popup.css" />
	<script>
windowName = "addon";

var editor = null;

$(function() {
	editor = opener.SmiEditor.selected;
	if (!editor) {
		alert("작업 대상이 없습니다.");
	}
	
	var start = 0;
	var end = editor.lines.length;
	
	var range = editor.getCursor();
	if (range[0] != range[1]) {
		start = editor.text.substring(0, range[0]).split("\n").length - 1;
		end   = editor.text.substring(0, range[1]).split("\n").length;
	}
	$("#input").val(linesToText(editor.lines.slice(start, end)));
	
	$("#btnExport").on("click", function() {
		var input  = new Subtitle.SmiFile().fromTxt($("#input").val());
		var output = new Subtitle.AssFile().fromSync(input.toSync()).toTxt();
		
		// 완성 후에도 화면 싱크 체크용으로 {} 표시
		var lines = output.split("\n");
		for (var i = 0; i < lines.length; i++) {
			var line = lines[i].split("\r")[0].split(",");
			if (line.length > 9) {
				var type = line[3];
				if (type[0] == "［") {
					line[9] = "{}" + line[9];
				}
				line = line.join(",");
				if (type[1] == "］") {
					line = line + "{}";
				}
				lines[i] = line;
			}
		}
		$("#output").val(lines.join("\n"));
	});
});
	</script>
	<style>
#input {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	bottom: 0;
}
#btnExport {
	position: absolute;
	top: 0;
	left: 40%;
	width: 20px;
	bottom: 0;
}
#output {
	position: absolute;
	top: 0;
	left: calc(40% + 20px);
	width: calc(60% - 20px);
	bottom: 0;
}
	</style>
</head>
<body>
	<textarea id="input" spellcheck="false"></textarea>
	<button id="btnExport">＞</button>
	<textarea id="output">이곳의 결과물은 완성본이 아니며, Aegisub에 복사한 후 추가 작업이 필요합니다.
화면 싱크를 사용한 경우 Default가 아닌 （］,［）,［］로 분류됩니다.</textarea>
</body>
</html>