<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>ASS 자막으로 변환</title>
	<script src="../lib/jquery-3.2.1.min.js?250329"></script>
	<script src="../lib/popup.js?250329"></script>
	<script src="../lib/SubtitleObject.js?250329"></script>
	<script src="../lib/Combine.js?250329"></script>
	<script src="../lib/SmiEditor.js?250329"></script>
	<link rel="stylesheet" type="text/css" href="../lib/popup.css?250329" />
	<script>
windowName = "addon";

const editor = (opener && opener.SmiEditor) ? opener.SmiEditor.selected : null;

$(() => {
	if (!editor) {
		alert("작업 대상이 없습니다.");
	}
	
	{
		let start = 0;
		let end = editor.lines.length;
		const range = editor.getCursor();
		if (range[0] != range[1]) {
			// 블록 지정이 있을 경우
			start = editor.text.substring(0, range[0]).split("\n").length - 1;
			end   = editor.text.substring(0, range[1]).split("\n").length;
			const smiFile = new Subtitle.SmiFile(linesToText(editor.lines.slice(start, end)));
			smiFile.body = Subtitle.Smi.normalize(smiFile.body).result;
			$("#input").val(smiFile.toTxt());
		} else {
			// 블록 지정이 없을 경우: 모든 홀드 가져오기
			$("#input").val(editor.owner.getSaveText(false));
		}
	}
	
	function optimizeSync(sync) { // TODO: SubtitleObject.js 쪽으로 옮기는 게 나은가?
		return Math.floor((findSync(sync) - 15) / 10);
	}
	function findSync(sync) {
		return opener.SmiEditor.findSync(sync, opener.SmiEditor.video.fs);
	}
	$("#btnExport").on("click", function() {
		const holds = Subtitle.SmiFile.textToHolds($("#input").val());
		const outputs = [];
		for (let h = 0; h < holds.length; h++) {
			const hold = holds[h];
			const input = hold.body ? hold : new Subtitle.SmiFile(hold.text);
			{
				if (opener && opener.SmiEditor && opener.SmiEditor.sync && opener.SmiEditor.sync.frame) {
					if (opener.SmiEditor.video.fs.length) {
						const fs = opener.SmiEditor.video.fs;
						for (let i = 0; i < input.body.length; i++) {
							const item = input.body[i];
							item.start = optimizeSync(item.start) * 10;
						}
					} else {
						const FL = opener.SmiEditor.video.FL;
						for (let i = 0; i < input.body.length; i++) {
							const item = input.body[i];
							item.start = Math.max(1, ((Math.round(item.start / FL) - 0.5) * FL));
						}
					}
				}
			}
			const ass = new Subtitle.AssFile().fromSync(input.toSync());
			const lines = ass.toTxt().split("\n");
			for (let i = 0; i < lines.length; i++) {
				const line = lines[i].split("\r")[0].split(",");
				if (line.length > 9) {
					const text = line[9];
					
					// RUBY 태그 다중일 경우 처리
					const sLines = text.split("\\N");
					const rubyRanges = [];
					let lastRange = null;
					let overlapCount = 0;
					for (let j = 0; j < sLines.length; j++) {
						if (sLines[j].startsWith("{\\fscy50")) {
							if (lastRange) {
								lastRange[1] = j;
								overlapCount++;
							} else {
								rubyRanges.push(lastRange = [j, j]);
							}
						}
					}
					
					const type = line[3];
					if (h > 0) {
						if (type == "Default") {
							line[3] = hold.name;
						} else {
							line[3] = hold.name + type;
						}
					}
					if (overlapCount) {
						// RUBY 태그 둘 이상 존재
						function lineWithRuby(rangeIndex, on) {
							const result = [];
							let pos = 0;
							for (let j = 0; j < rubyRanges.length; j++) {
								const rubyRange = rubyRanges[j];
								for (; pos < rubyRange[0]; pos++) {
									result.push(sLines[pos]);
								}
								if (on && result.length) {
									result[0] = "{\\bord0\\1a&HFF&}" + result[0];
									result[result.length - 1] += "{\\1a\\bord}";
								}
								result.push(sLines[rubyRange[0] + (j == rangeIndex ? on : 0)] + (on ? "{\\bord0\\1a&HFF&}" : ""));
								pos = rubyRange[1] + 1;
							}
							for (; pos < sLines.length; pos++) {
								result.push(sLines[pos]);
							}
							line[9] = front + result.join("\\N") + end;
							return line.join(",");
						}
						
						const front = (type[0] == "［" ? "{}" : "") + "{" + $("#pos").val() + "}";
						const end   = (type[1] == "］" ? "{}" : "");
						const newLines = [lineWithRuby(0, 0)];
						for (let j = 0; j < rubyRanges.length; j++) {
							const rubyRange = rubyRanges[j];
							for (let k = 1; k <= rubyRange[1]; k++) {
								newLines.push(lineWithRuby(j, k));
							}
						}
						lines[i] = newLines.join("\n");
						
					} else {
						// 완성 후에도 화면 싱크 체크용으로 {} 표시
						if (type[0] == "［") { line[9] = "{}" + text; }
						if (type[1] == "］") { line[9] = line[9] + "{}"; }
						lines[i] = line.join(",");
					}
				}
			}
			outputs.push(lines.join("\n"));
		}
		$("#output").val(outputs.join("\n").split("\n\n").join("\n"));
	});
});
	</script>
	<style>
#input {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	bottom: 20px;
}
label[for=pos] {
	position: absolute;
	left: 0;
	width: 90px;
	bottom: 0;
	height: 20px;
}
#pos {
	position: absolute;
	left: 90px;
	width: 40%;
	bottom: 0;
	height: 20px;
}
#btnExport {
	position: absolute;
	top: 0;
	left: 40%;
	width: 20px;
	bottom: 0;
}
#output {
	position: absolute;
	top: 0;
	left: calc(40% + 20px);
	width: calc(60% - 20px);
	bottom: 0;
}
	</style>
</head>
<body>
	<textarea id="input" spellcheck="false"></textarea>
	<label for="pos">위치 기본값</label>
	<input type="text" id="pos" value="\pos(960,1040)" />
	<button id="btnExport">＞</button>
	<textarea id="output">이곳의 결과물은 완성본이 아니며, Aegisub에 복사한 후 추가 작업이 필요합니다.
화면 싱크를 사용한 경우 Default가 아닌 （］,［）,［］로 분류됩니다.</textarea>
</body>
</html>